<section id="hero" class="container pt-4 px-5">
  <div class=" flex flex-col items-center gap-10 md:flex-row-reverse">
    <div class="mx-auto md:basis-1/2">
      <img src="assets/hero-img.svg" alt="hero-img" class="w-60 md:w-full" />
    </div>

    <div class="text-center md:basis-1/2 md:text-start">
      <h2 class="text-3xl font-oswald font-bold md:text-6xl">
        Where Every Bite Tells a <span class="text-primaryColor"
          >Delicious Story!</span
        > "
      </h2>

      <p class="text-base md:text-xl text-paragraphColor my-6 md:py-8">
        Discover a world of flavors, crafted with passion and love. At <span
          class="text-primaryColor">TastyEpic</span
        > Food Restaurant
      </p>

      <div class="flex items-center justify-center md:justify-start" >
        <a
        href="#dishes"
          class="bg-primaryColor text-whiteColor px-5 py-2 rounded-3xl text-base shadow-custom2"
          >Order Now</a
        >
      </div>
    </div>
  </div>
</section>
