<section id="menu" class="container pt-2 pb-8 px-5">
  <div class="flex flex-col items-center justify-center gap-5">
    <h2
      class="text-base font-montserrat font-bold border-b-2 border-solid border-primaryColorLight px-4"
    >
      Our Menu
    </h2>
    <h3 class="font-oswald text-3xl text-primaryColor">Special Dishes</h3>

    <div class="mt-20 flex flex-col items-center justify-center gap-x-8 gap-y-8 md:flex-row md:gap-y-24 flex-wrap">
      <div
        class="relative text-center border-2 border-solid border-primaryColor h-40 w-48  flex flex-col items-center justify-center
        rounded-lg
        rounded-tl-[50px]
        rounded-br-[50px]
        px-6
        cursor-pointer
        ease-in-out
        duration-300
        hover:bg-primaryColorLight"
      >
        <img
          src="assets/menu-1.svg"
          class="w-36 absolute -top-1/2"
          alt="menu-1"
        />
        <h4 class="text-xl font-oswald">Lumpi with Sauce</h4>
      </div>
      <div
        class="mt-14 md:mt-0 relative text-center border-2 border-solid border-primaryColor h-40 w-48 flex flex-col items-center justify-center
        rounded-lg
        rounded-tl-[50px]
        rounded-br-[50px]
        px-6
        cursor-pointer
        ease-in-out
        duration-300
        hover:bg-primaryColorLight"
      >
        <img
          src="assets/menu-2.svg"
          class="w-36 absolute -top-1/2"
          alt="menu-1"
        />
        <h4 class="text-xl font-oswald">Fish and Veggei</h4>
      </div>
      <div
        class="mt-14 md:mt-0 relative text-center border-2 border-solid border-primaryColor h-40 w-48 flex flex-col items-center justify-center
        rounded-lg
        rounded-tl-[50px]
        rounded-br-[50px]
        px-6
        cursor-pointer
        ease-in-out
        duration-300
        hover:bg-primaryColorLight"
      >
        <img
          src="assets/menu-3.svg"
          class="w-36 absolute -top-1/2"
          alt="menu-1"
        />
        <h4 class="text-xl font-oswald">Tofu with Chili</h4>
      </div>
      <div
        class="mt-14 md:mt-0 relative text-center border-2 border-solid border-primaryColor h-40 w-48 flex flex-col items-center justify-center
        rounded-lg
        rounded-tl-[50px]
        rounded-br-[50px]
        px-6
        cursor-pointer
        ease-in-out
        duration-300
        hover:bg-primaryColorLight"
      >
        <img
          src="assets/menu-4.svg"
          class="w-36 absolute -top-1/2"
          alt="menu-1"
        />
        <h4 class="text-xl font-oswald">Veg Thai</h4>
      </div>
    </div>
  </div>
</section>
