<section id="services" class="container py-8 px-5">
  <div class="flex flex-col items-center justify-center gap-5">
    <h2
      class="text-base font-montserrat font-bold border-b-2 border-solid border-primaryColorLight px-4"
    >
      Our Services
    </h2>
    <h3 class="font-oswald text-3xl text-primaryColor">Services We Offer</h3>

    <div class="flex flex-col items-center justify-center gap-5 md:flex-row">
      <div class="flex flex-col items-center justify-center gap-8">
        <div>
          <img src="assets/services-1.svg" class="w-60 h-52 md:w-full" alt="" />
        </div>
        <h4 class="text-3xl font-oswald font-bold">
          Fastest Delivery of order
        </h4>
        <p
          class="text-center text-base   text-paragraphColor"
        >
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti,
          provident.
        </p>
      </div>

      <div class="flex flex-col items-center justify-center gap-8">
        <div>
          <img src="assets/services-2.svg" class="w-60 h-52 md:w-full" alt="" />
        </div>
        <h4 class="text-3xl font-oswald font-bold">24*7 Food Services</h4>
        <p
          class="text-center text-base   text-paragraphColor"
        >
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti,
          provident.
        </p>
      </div>
    </div>
  </div>
</section>
