<section id="reviews" class="container py-8 px-5">
  <div class="flex flex-col items-center justify-center gap-5">
    <h2
      class="text-base font-montserrat font-bold border-b-2 border-solid border-primaryColorLight px-4"
    >
      Testomonials
    </h2>
    <h3 class="font-oswald text-3xl text-primaryColor">Our Happy Customers</h3>
  </div>

  <div class="swiper mySwiper mt-8">
    <div class="swiper-wrapper">
      <li class="swiper-slide list-none ">
        <div class="flex flex-col items-center justify-center gap-6">
          <img
            src="assets/review-2.jpg"
            alt="review"
            class="w-40 h-40 rounded-full shadow-lg"
          />

          <p class="text-xs font-montserrat text-center font-bold">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic dolor
            laborum itaque fugiat totam corporis?
          </p>

          <div class="flex flex-col">
            <h3 class="font-oswald text-xl">Camlie James</h3>
            <p
              class="font-montserrat font-bold text-gray-600 text-center text-base"
            >
              CEO at X.Y.Z
            </p>
          </div>
        </div>
      </li>

      <li class="swiper-slide list-none ">
        <div class="flex flex-col items-center justify-center gap-6">
          <img
            src="assets/review-1.jpg"
            alt="review"
            class="w-40 h-40 rounded-full shadow-lg"
          />

          <p class="text-xs font-montserrat text-center font-bold">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic dolor
            laborum itaque fugiat totam corporis?
          </p>

          <div class="flex flex-col">
            <h3 class="font-oswald text-xl">Camlie James</h3>
            <p
              class="font-montserrat font-bold text-gray-600 text-center text-base"
            >
              CEO at X.Y.Z
            </p>
          </div>
        </div>
      </li>

      <li class="swiper-slide list-none ">
        <div class="flex flex-col items-center justify-center gap-6">
          <img
            src="assets/review-3.jpg"
            alt="review"
            class="w-40 h-40 rounded-full shadow-lg"
          />

          <p class="text-xs font-montserrat text-center font-bold">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic dolor
            laborum itaque fugiat totam corporis?
          </p>

          <div class="flex flex-col">
            <h3 class="font-oswald text-xl">Camlie James</h3>
            <p
              class="font-montserrat font-bold text-gray-600 text-center text-base"
            >
              CEO at X.Y.Z
            </p>
          </div>
        </div>
      </li>

      <li class="swiper-slide list-none ">
        <div class="flex flex-col items-center justify-center gap-6">
          <img
            src="assets/review-4.jpg"
            alt="review"
            class="w-40 h-40 rounded-full shadow-lg"
          />

          <p class="text-xs font-montserrat text-center font-bold">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic dolor
            laborum itaque fugiat totam corporis?
          </p>

          <div class="flex flex-col">
            <h3 class="font-oswald text-xl">Camlie James</h3>
            <p
              class="font-montserrat font-bold text-gray-600 text-center text-base"
            >
              CEO at X.Y.Z
            </p>
          </div>
        </div>
      </li>

      <li class="swiper-slide list-none ">
        <div class="flex flex-col items-center justify-center gap-6">
          <img
            src="assets/review-5.jpg"
            alt="review"
            class="w-40 h-40 rounded-full shadow-lg"
          />

          <p class="text-xs font-montserrat text-center font-bold">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic dolor
            laborum itaque fugiat totam corporis?
          </p>

          <div class="flex flex-col">
            <h3 class="font-oswald text-xl">Camlie James</h3>
            <p
              class="font-montserrat font-bold text-gray-600 text-center text-base"
            >
              CEO at X.Y.Z
            </p>
          </div>
        </div>
      </li>
      
    </div>
  </div>
</section>
