---
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import OurServices from "../components/OurServices.astro";
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";
import Categories from "../components/Categories.svelte";
import Reviews from "../components/Reviews.astro";
import Top from "../components/Top.astro";
---

<Layout title="TastyPic">
  <Navbar />
  <main>
    <Hero />
    <Menu />
    <Categories client:load />
    <OurServices />
    <Reviews  />
  </main>
  <Footer/>
  <Top/>
</Layout>
